body{
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
}
#pai{
    align-items: center;
    display: flex;
    justify-content: center;

}
.imagem{
    width: 120px;
    }
h1, h2{
    color: blue;
    font-size: 15px;
}
.curriculo{
    text-align: center;
}